body {
	margin: 0px;
	padding: 20px clamp(7rem, 20%, 30rem);
	font-family: 'Roboto Mono', monospace;
}

* {
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	margin: 0;
}

ul {
	list-style: "* ";
	padding-left: 17px;
}

a {
	text-decoration: none;
}

a:visited {
	color: #0000EE;
}

a:hover {
	background-color: #0000EE;
	color: white;
}